* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 0 24px;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 1rem #525151;
    /* cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>"), auto; */
}

.square {
    /* width: 25px;
    height: 25px; */
    background-color: white;
    border: 1px solid black;
    transition: all 0.2s ease
}

/* .square-hovered{
    background-color: blueviolet;
} */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.header-img {
    width: 220px;
    height: auto;
}

.main-content {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.color-picker{
    display: none;
}
.color-options{
    display: none;
}

.number-squares {
    display: none;
}

.show {
    display: block;
}



/* --------------------------------------------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: rgb(56, 54, 54);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
    background: rgb(56, 54, 54);
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* --------------------------------------------------------- */